.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .headerbox {
    background: #1f4456;
  }

  .main-header{
    padding: 10px 25px 10px 25px;
  }

  #nav2 li a .btn-style-1{
    border-radius: 5px;
    background-color: none;
    background-color: transparent !important;
    border: 1px solid #dadada;
    font-weight: 400;
    text-transform: none;
  }

  #nav2 ul .btn-section{
    display: flex !important;
    width: auto;
  }

  .dropdown-menu {
    left: 55% !important;
  }

  .dropdown a, a:hover {
    color: white;
  }

  .mid-section {
    padding: 50px 50px 50px 50px;
    background-color: #dcdfe1;
    justify-content: space-evenly;
  }

  .mid-section-inside {
    padding: 50px 50px 50px 50px;
    background-color: #ffffff;
    justify-content: space-evenly;
  }

  .section-left{
    padding: 20px 10px 20px 10px;
    background-color: rgb(255, 255, 255);
  }

  .section-right{
    padding: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
  }

  .section-tabs{
    padding: 20px 10px 20px 10px;
    background-color: rgb(255, 255, 255);
  }

  .lead-btn {
    padding: 12px 5px 12px 5px;
    border: 1px solid #1f4456;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f6f6f6;
    width: 130px;

  }

  .lead-btn-2{
    padding: 12px 5px 14px 5px;
    border-radius: 7px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 38px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1f4456;
    width: 130px;
    color: white;

  }

  .link-buttons{
    color: #1f4456;
    font-weight: 600;
    font-size: 14px;
  }

  .link-buttons-2{
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
  }

  .q-links{
    font-size: 14px;
    font-weight: 700;
    color: #1f4456 !important;
    margin-left: 15px;
  }

  .quick-links-s1{
    margin-bottom: 5px;
  }

  .header-box{
    font-size: 14px;
    font-weight: 700;
    color: #1f4456 !important;
  }

  .header-box-2{
    font-size: 14px;
    font-weight: 700;
    color: #000000 !important;
  }

  .header-inside-box{
    font-size: 14px;
    font-weight: 700;
    color: #000000 !important;
    text-align: center;
    margin-bottom: 0px !important;
  }

  .link-quick{
    color: black;
    font-size: 11px;
    margin-left: 5px;
    text-transform: uppercase;
  }

  .lead-box{
    display: flex;
    justify-content: flex-start;
    background-color: #f6f6f6;
    padding: 10px 5px 10px 5px;
    margin-bottom: 28px;
  }

  .lead-box-2{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 10px 5px 10px 5px;
    margin-bottom: 28px;
  }

  .lead-box-3{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 10px 5px 10px 5px;
  }

  .lead-box-4{
    display: flex;
    justify-content:space-evenly;
    background-color: #f6f6f6;
    padding: 10px 0px 10px 0px;
  }

  .lead-box-cover{
    background-color: #f6f6f6;
    padding: 10px 5px 10px 5px;
    margin-bottom: 28px;
  }

  .lead-block-type{
    margin-left: 10px;
  }

  .lead-block-count{
    margin-left: 25px;
  }

  .lead-block-count-2{
    margin-left: 25px;
    text-align: center;
    margin-right: 10px;
  }

  .lead-block-count-3{
    margin-left: 25px;
    text-align: end;
    margin-right: 10px;
  }

  .message-box{
    background-color: #f6f6f6;
    padding: 10px 15px 10px 15px;
    margin-bottom: 28px;
  }

  .lead-type{
    margin-bottom: 5px;
    font-weight: 500;
    color: #1f4456;
  }

  .board-message{
    font-style: italic;
  }

  .image-text{
    font-size: 9px;
    margin-bottom: 10px;
  }

  .feature-gallery{
    display: flex;
    justify-content: center;
    text-align: end;
  }

  .image-box{
    margin-left: 10px;
    margin-right: 10px;
  }

/*CSS for pie charts */
.pie-chart-cover{
  background-color: #f6f6f6;
  padding: 10px 5px 10px 5px;
  margin-bottom: 28px;
}

.piechart {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: conic-gradient(
      #405a6d 70deg, 
      #52728a 0 235deg, 
      #6c96b6 0);
}

.header-pie{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}